*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  overflow-x: hidden;
}
.header{
  margin: 1rem 7rem;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
.nav{
  position: relative;
  top: 0;
}
.nav ul{
  list-style-type: none;
  display: flex;
}
.nav ul li{
  display: block;
}
.nav ul li a{
  text-decoration: none;
  color: hsl(273, 4%, 51%);
  text-transform: uppercase;
  margin-left: 1rem;
  font-family: "Karla", sans-serif;
}
.nav ul li:first-child a{
  margin-left: 0;
}
.nav ul li:last-child a{
  border: 1px solid hsl(270, 9%, 17%);
  color: hsl(270, 9%, 17%);
  padding: 6px;
}
.mobile_nav{
  display: none;
}
.hero-section{
  background-color: hsl(256, 26%, 20%);
  display: flex;
  align-items: center;
  padding: 3rem  7rem;
  height: 400px;
  position: relative;
}
.intro-section{
  width: 50%;
}
.intro-right_pattern{
  position: absolute;
  right: 0;
  top: 0;
  height: 390px;
}
.intro-left_pattern{
  position: absolute;
  left: 0;
  top: 300px;
  width: 130px;
}

.intro-section::before{
  content: "";
  background-color: hsl(0, 0%, 98%);
  width: 110px;
  height: 1px;
  display: block;
}
.main-title{
  font-family: "DM Serif Display",
    serif;
  color: hsl(0, 0%, 98%);
  padding-top: 1.8rem;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1rem;
}
.description{
  color: hsl(0, 0%, 98%);
  font-family: "Karla",
    sans-serif;
  font-size: 16px;
  margin-bottom: 0.7rem;
}

.view-btn{
  border: 1px solid hsl(0, 0%, 98%);
  font-family: "Karla" , sans-serif;
  background-color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  color: hsl(0, 0%, 98%);
  padding:0.6rem;
}
.hero-image{
  position: absolute;
  right: 7rem;
  top: 4rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.hero-image img{
  height: 110%;
  object-fit: cover;
  margin-top: auto;
}
.stand-out::before{
  content: "";
  display: block;
  height: 1px;
  width: 90px;
  background-color: hsl(270, 9%, 17%);
}
.stand-out{
  margin: 12rem 7rem 7rem 7rem;
}
.stand-heading{
  margin-top: 2rem;
  font-family: "DM Serif Display",
    serif;
  font-weight: 400;
  font-size: 2.5rem;
  color: hsl(270, 9%, 17%);
  margin-bottom: 3rem;
}
.what-makes_stand{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.stand{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.stand img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}
.stand-title{
  font-family: "DM Serif Display",
    serif;
  font-weight: 400;
  margin-bottom: 1rem;
}
.stand-description{
  color: hsl(273, 4%, 51%);
  font-weight: 400;
  font-style: normal;
  font-family: "Karla",
    sans-serif;
  line-height: 1.5;
}
.banner{
  margin: 0 7rem 6rem 7rem;
  background-color: hsl(256, 26%, 20%);
  height: 180px;
  color: white;
  font-family: "DM Serif Display",
    serif;
  font-weight: 400;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.bg-pattern-how{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 630px;
}
.banner h2{
  font-size: 2rem;
}
.footer{
  background-color: hsl(0, 0%, 98%);
  padding: 2rem 7rem 2rem 7rem;
  position: relative;
}
.footer-pattern{
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
}
.footer-head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid hsl(273, 4%, 51%);
  padding-bottom: 1.4rem;
}

.socials{
  display: flex;
  justify-content: space-between;
  gap: 0.7rem;
}
.socials img{
  width: 20px;
  height: 20px;
  max-width: 100%;
  object-fit: cover;
}
.related-links{
  display: flex;
  margin-top: 1.8rem;
  gap: 10rem;
}
.link-heading{
  font-family: "Karla",
    sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(273, 4%, 51%);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 13px;
}
.nav-lists li{
  list-style-type: none;
  margin-bottom: 0.5rem;
}
.nav-lists li:last-child{
  margin-bottom: 0;
}
.nav-lists li a{
  text-decoration: none;
  color: hsl(256, 26%, 20%);
  text-transform: uppercase;
  font-family: "Karla",
    sans-serif;
  font-weight: 400;
  font-size: 0.76rem;
  font-style: normal; 
}
.family-mobile{
  display: none;
}
.close-button{
  display: none;
  cursor: pointer;
}
.close-button.active{
  display: flex;
}
@media(max-width:768px){
  body{
    overflow-x: hidden;
  }
  .header{
    margin-left: 2rem;
    margin-right: 1rem;
    align-items: center;
  }
  .brand-logo img{
    object-fit: cover;
    max-width: 100%;
    align-self: center;
  }
  .nav{
    display: none;
  }
  .nav.active{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position:absolute;
    top: 68px;
    z-index: 1000;
    flex-direction: column;
    background-color: hsl(256, 26%, 20%);
    display: flex;
    width: 100vw;
    height: 100vh;
    left: 0;
    padding-top: 2rem;
  }
  .nav ul{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
  }
  .nav ul li a{
    display: flex;
    align-items: center;
    color: white;
  }
  .nav ul li:last-child a{
    border: 1px solid white;
    padding: 1rem 4rem;
    color: white;
  }
   
  .mobile_nav{
    display: flex;
    cursor: pointer;
  }
  .mobile_nav img{
    max-width: 100%;
    object-fit: cover;
  }
  .hero-section{
    flex-direction: column-reverse;
    padding: 0;
    height: auto;
    text-align: center;
  }
  .hero-image{
    position: static;
    width: 100%;
    justify-content: center;
  }
  .hero-image img{
    width: 100%;
    height: auto;
    margin: 0;
  }
  .family-desktop{
    display: none;
  }
  .family-mobile{
    display: block;
  }
  .intro-section::before{
    display: none;
  }
  .intro-section{
    padding-left: 0;
    padding-right: 0;
  }
  .intro-section .main-title{
    font-size: 30px;
    margin-top: 3rem;
    padding-top: 0;
  }
  .intro-section .description{
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
  }
  .view-btn{
    margin-bottom: 2rem;
  }
  .stand-out{
    margin: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .what-makes_stand{
    flex-direction: column;
    gap: 2rem;
    
  }
  .stand{
    justify-content: center;
    align-items: center;
  }
  .stand-description{
    text-align: center;
  }
  .banner{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  .banner h2{
    text-align: center;
  }
  .footer{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
  }
  .footer-head{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .related-links{
    flex-direction: column;
    gap: 2.6rem;
  }
  .related-links > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .nav-lists li{
     text-align: center;
  }
  .link-heading{
    text-align: center;
    font-weight: 500;
  }
  .intro-right_pattern{
    display: none;
  }
  .intro-left_pattern{
    top: 400px;
    transform: translateZ(30%);
  }
  
}